<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <main>
      <form method="post" action="/login">
        <h1>login form</h1>
        <!-- <input type="text" name="name" placeholder="name" /> -->
        <input
          type="email"
          name="email"
          placeholder="email"
          value="<%=locals.email%>"
        />
        <input type="password" name="password" placeholder="password" />
        <p><%=locals.isMatch%></p>
        <button>login</button>
      </form>
    </main>

    <h3><%= locals.statusOfForm %></h3>

    <script src="scripts.js"></script>
  </body>
</html>
